:root {
  --bg-clr-red: #ff4d4d;
  --bg-clr-blue: #0dcaf0;
  ---bg-clr-pale-green: #97ea97;
  --clr-100: #fff;
  --clr-900: #000;
}

html {
  font-size: 10px;
}

@font-face {
  font-family: "Vazir";
  src:
    url('../../fonts/vazir-font-v16.1.0/Vazir.ttf') format('truetype'),
    url('../../fonts/vazir-font-v16.1.0/Vazir.woff') format('woff'),
    url('../../fonts/vazir-font-v16.1.0/Vazir.woff2') format('woff2'),
    url('../../fonts/vazir-font-v16.1.0/Vazir.eot') format('eot');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Vazir";
  direction: rtl;
}

body.margin-bottom{
  margin-bottom: 5.9rem;
}

.container {
  width: 80%;
  margin-inline: auto;
}

/* styling header */

#header {
  background-color: var(--bg-clr-red);
}

#header .main-header {
  padding-block: 1rem;
}

#header .logo {
  display: block;
  width: 5rem;
  height: 5rem;
}

#header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#header .search {
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  overflow: hidden;
  margin-top: 1.5rem;
}

#header .search input {
  width: 100%;
  padding: 1.5rem 1rem 1.5rem 6rem;
  outline: none;
  border: none;
}

#header .search .btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--clr-100);
  border-right: 1px solid #ccc;
}

#header .search .btn i {
  font-size: 1.5rem;
}

/* styling header */

/* styling main slider */

#slider {
  margin-top: 3rem;
}

#slider .main-slider {
  width: 100%;
  height: 30rem;
}

#slider .main-slider .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slider .main-slider .swiper-button-prev,
#slider .main-slider .swiper-button-next {
  background-color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

#slider .main-slider .swiper-button-prev:hover,
#slider .main-slider .swiper-button-next:hover {
  background-color: var(--bg-clr-red);
}

#slider .main-slider .swiper-button-prev::after,
#slider .main-slider .swiper-button-next::after {
  font-size: 2rem;
  color: var(--bg-clr-red);
}

#slider .main-slider .swiper-button-prev:hover::after,
#slider .main-slider .swiper-button-next:hover::after {
  color: #fff;
}

/* styling main slider */

/* styling category */

#category {
  margin-top: 3rem;
}

#category .title h1 {
  text-align: center;
  font-size: 2.5rem;
}

#category .grid-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

#category .grid-items li {
  box-shadow: 0rem 5px 1rem rgba(0, 0, 0, .3);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

#category .grid-items li:hover {
  box-shadow: -1rem 1rem var(--bg-clr-red);
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
}

#category .grid-items li:nth-child(odd):hover {
  box-shadow: -1rem 1rem var(--bg-clr-blue);
}

#category .grid-items li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 1rem;
}

#category .grid-items li a img {
  width: 9rem;
}

#category .grid-items li a h3 {
  font-size: 1.3rem;
  margin-top: 1rem;
  color: var(--clr-900);
  height: 2rem;
  overflow: hidden;
}

/* styling category */

/* styling product slider */

#product-slider {
  margin-top: 3rem;
  background-color: var(--bg-clr-red);
}

#product-slider .product-slider {
  padding-block: 1.5rem;
}

#product-slider .product-slider .title {
  margin-bottom: 1rem;
}

#product-slider .product-slider .title h1 {
  font-size: 3rem;
  color: var(--clr-100);
}

#product-slider .product-slider .product-swiper {
  width: 100%;
}

#product-slider .product-slider .product-swiper .item {
  background-color: var(--clr-100);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

#product-slider .product-slider .product-swiper .item:hover {
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
}

#product-slider .product-slider .product-swiper {
  width: 100%;
  display: flex;
}

#product-slider .product-slider .product-swiper .swiper-wrapper {
  display: flex;
  width: 100%;
}

#product-slider .product-slider .product-swiper .swiper-slide {
  flex-shrink: 0 !important;
}

#product-slider .product-slider .product-swiper .swiper-slide:last-child {
  margin-block: auto;
}

#product-slider .product-slider .product-swiper .swiper-slide:last-child .item {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#product-slider .product-slider .product-swiper .swiper-slide:last-child .item i {
  font-size: 1.5rem;
}

#product-slider .product-slider .product-swiper .item .img {
  width: 15rem;
}

#product-slider .product-slider .product-swiper .item .img img {
  width: 100%;
  object-fit: cover;
}

#product-slider .product-slider .product-swiper .item h3 {
  width: 100%;
  text-align: center;
  margin-block: 1rem;
  height: 2rem;
  overflow: hidden;
  font: 1.8rem;
}

#product-slider .product-slider .product-swiper .item .price {
  width: 100%;
  font-size: 1.2rem;
}

#product-slider .product-slider .product-swiper .item .price del span,
#product-slider .product-slider .product-swiper .item .price p span {
  color: grey;
}

#product-slider .product-slider .product-swiper .item .price p {
  margin-top: 5px;
  color: var(--bg-clr-red);
}

#product-slider .product-slider .product-swiper .item button {
  padding: 1rem;
  background-color: var(--bg-clr-red);
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

#product-slider .product-slider .product-swiper .item button i {
  color: var(--clr-100);
  font-size: 1.5rem;
}

.most-sells,
.most-sells button {
  background-color: var(--bg-clr-blue) !important;
}

.daily-sells,
.daily-sells button {
  background-color: var(---bg-clr-pale-green) !important;
}

/* styling product slider */

/* navigation bottom */

.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: var(--clr-100);
  width: 100%;
  padding: 1rem 0;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);
}

.nav-bottom .main-nav-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bottom .main-nav-bottom .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-bottom .main-nav-bottom .item i {
  font-size: 1.5rem;
}

.nav-bottom .main-nav-bottom .item p {
  margin-top: .5rem;
  font-size: 1rem;
}

.nav-bottom .main-nav-bottom .item.count-box {
  position: relative;

}

.nav-bottom .main-nav-bottom .item.count-box::before {
  content: '1';
  position: absolute;
  top: -.5rem;
  right: .5rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--bg-clr-red);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-100);
}

/* navigation bottom */

/* footer */

#footer {
  width: 100%;
  display: flex;
  background-color: var(--bg-clr-red);
  -webkit-clip-path: polygon(48% 55%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
  clip-path: polygon(48% 55%, 100% 38%, 100% 100%, 0 100%, 0% 38%);

}

.main-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--clr-100);
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.main-footer h1 {
  margin-top: 10rem;
  font-size: 1.6rem;
}

.main-footer p {
  margin-top: 1rem;
  font-size: 1.1rem;
}

/* footer */